# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
env/

# macOS system files
.DS_Store

# SQLite DB
*.db

# VS Code settings (optional)
.vscode/

# Model files
*.pkl

# Other
*.log